<a href="https://colab.research.google.com/github/Adfermar/PIA/blob/22_11_2022/Tarea_pandas_Preprocesamiento_del_16_11_2022_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cabecera


---


Asignatura: PIA

Unidad 1

Fecha de la Tarea: 16/11/2022

Versión v6

Última modificación: 24/11/2022

# Última modficaciones

> 22_11_2022. Se ha modificado el tipo de datos de los valores de la columna "churn" del DataFrame.
> [Método pd.to_numeric()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html)

In [ ]:
import pandas as pd
import numbers
import decimal
from collections import Counter

# Creación del DataFrame

In [ ]:
ruta = 'drive/MyDrive/Archivos_Colab/'
df_original = pd.read_csv(ruta + 'WA_Fn-UseC_-Telco-Customer-Churn.csv')

Mostramos información del DataFrame

In [ ]:
print(df_original.shape)
print("****************************************************")
print(df_original.info())
print("****************************************************")
print(df_original.describe())
print("****************************************************")
print(df_original.dtypes)

(7043, 21)
****************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
****************************************************
       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000
****************************************************
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object



---



---



# Enunciado de las tareas

---


1. Delete the column ‘customerid’ from the dataset.

2. Convert the column ‘TotalCharges’ to a numeric format, coercing errors if necessary.

3. Change all column names to lowercase.

4. For string values change spaces to an underscore symbol.

5. Convert the column ‘churn’ to integer format (no - 0, yes - 1).

6. Check for categorical columns how many different values they have.

In [ ]:
df = df_original



---


## Tarea 1

Delete the column ‘customerid’ from the dataset.

In [ ]:
# Tarea 1
df = df.drop("customerID", axis=1)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes



---


## Tarea 2

Convert the column ‘TotalCharges’ to a numeric format, coercing errors if necessary.

In [ ]:
# Tarea 2
# Convert the column ‘TotalCharges’ to a numeric format, 
# coercing errors if necessary.

df["TotalCharges"].fillna(0, inplace = True)

df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")
print(type(df["TotalCharges"][0]))
df["TotalCharges"].head(10)

<class 'numpy.float64'>

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
5     820.50
6    1949.40
7     301.90
8    3046.05
9    3487.95
Name: TotalCharges, dtype: float64



---


## Tarea 3

Change all column names to lowercase.

In [ ]:
# Tarea 3
# Change all column names to lowercase.
df = df.rename(str.lower, axis='columns')
for i in df.columns:
  print(i)

gender
seniorcitizen
partner
dependents
tenure
phoneservice
multiplelines
internetservice
onlinesecurity
onlinebackup
deviceprotection
techsupport
streamingtv
streamingmovies
contract
paperlessbilling
paymentmethod
monthlycharges
totalcharges
churn



---


## Tarea 4

For string values change spaces to an underscore symbol.

In [ ]:
# 4. For string values change spaces to an underscore symbol.
for i in df.index:
  for j in df.columns:
    if( type( df.at[i, j] ) == str ):
      df.at[i, j] = df.at[i, j].replace(' ', '_')
      # También cambiamos el guión medio por el "underscore"
      df.at[i, j] = df.at[i, j].replace('-', '_')

In [ ]:
df.head()

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,Female,0,Yes,No,1,No,No_phone_service,DSL,No,Yes,No,No,No,No,Month_to_month,Yes,Electronic_check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One_year,No,Mailed_check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month_to_month,Yes,Mailed_check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No_phone_service,DSL,Yes,No,Yes,Yes,No,No,One_year,No,Bank_transfer_(automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber_optic,No,No,No,No,No,No,Month_to_month,Yes,Electronic_check,70.70,151.65,Yes

In [ ]:
df.tail()

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One_year,Yes,Mailed_check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber_optic,No,Yes,Yes,No,Yes,Yes,One_year,Yes,Credit_card_(automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No_phone_service,DSL,Yes,No,No,No,No,No,Month_to_month,Yes,Electronic_check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber_optic,No,No,No,No,No,No,Month_to_month,Yes,Mailed_check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber_optic,Yes,No,Yes,Yes,Yes,Yes,Two_year,Yes,Bank_transfer_(automatic),105.65,6844.50,No



---


## Tarea 5

Convert the column ‘churn’ to integer format (no - 0, yes - 1).

In [ ]:
# 5. Convert the column ‘churn’ to integer format (no - 0, yes - 1).
for i in df.index:
    if ( df.at[i, "churn"]  == "Yes" ):
      df.at[i, "churn"] = 1
    elif ( df.at[i, "churn"]  == "No" ):
      df.at[i, "churn"] = 0
    else:
      raise ValueError("Wrong value in churn column position:")

In [ ]:
# Mostramos 10 entradas para ver algunos resultados
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: object

### Cambiar el tipo de dato de la columna "churn"

Modificación hecha el 22_11_2022

[Método pd.to_numeric()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html)

In [ ]:
# Tipo de dato de la columna 'churn' de nuestro dataframe
print(type(df.churn))
df.churn = pd.to_numeric(df.churn, downcast='unsigned')
print(df.churn.head())

<class 'pandas.core.series.Series'>
0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: uint8



---


## Tarea 6

Check for categorical columns how many different values they have.

In [ ]:
# 6. Check for categorical columns how many different values they have.
for i in df.columns:
  if ( not isinstance( df.loc[0, i], numbers.Number ) ):
    print("Elementos repetidos:", i, "_________", Counter(df.duplicated(i))[0])

Elementos repetidos: gender _________ 2
Elementos repetidos: partner _________ 2
Elementos repetidos: dependents _________ 2
Elementos repetidos: phoneservice _________ 2
Elementos repetidos: multiplelines _________ 3
Elementos repetidos: internetservice _________ 3
Elementos repetidos: onlinesecurity _________ 3
Elementos repetidos: onlinebackup _________ 3
Elementos repetidos: deviceprotection _________ 3
Elementos repetidos: techsupport _________ 3
Elementos repetidos: streamingtv _________ 3
Elementos repetidos: streamingmovies _________ 3
Elementos repetidos: contract _________ 3
Elementos repetidos: paperlessbilling _________ 2
Elementos repetidos: paymentmethod _________ 4