Colab Link

<a href="https://colab.research.google.com/github/Adfermar/SAA-Unidad1-Ejercicios-Preprocesamiento/blob/20-11-2022/SAA-ejercicios-preprocesamiento%20v13.ipynb" target="-parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## HEAD
---
**AUTOR**: Afermar

**CURSO**: Inteligencia Artificial y Big Data

**ASIGNATURA**: Programación de Inteligencia Artificial

**ÚLTIMA ACTUALIZACIÓN** 27/04/2023

**VERSIÓN** v1.3

---

**PROJECT** Coches.net

**TASK** Pre-Processing/Data cleaning

***WARNING!!***

Use this set of data files: `datos-coches-definitivos-27-04-2023` to build the main dataframe.

Documentation

> * [Regex Evaluator](https://regex101.com/)

---
Unicode:

> Tabulation >> `\u0009`

> Quotation Mark = `\u0022`

> Apostrophes = `\u0027`

### Markdown language syntax


---


Guía del lenguaje Markdown:
https://daringfireball.net/projects/markdown/basics

### Python version


---



Python version suggested >> `3.11.0`

In [ ]:
# Python current version
from platform import python_version
print(python_version())

### Mount Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

---
Unicode:

> Tabulation >> `\u0009`

> Quotation Mark = `\u0022`

> Apostrophes = `\u0027`

## INSTALL
---


Ejecutar sólo una vez

```
pip install ipykernel

pip install pandas

python.exe -m pip install --upgrade pip
```

In [3]:
!pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 12.9 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

## LIBRARIES
---

In [4]:
import pandas as pd
import numpy as np
import io
import csv
import json

## FUNCTIONS


---

In [5]:
def featureDistribution(df, feature):

    from collections import Counter

    values = df[feature].values
    counter = Counter(values)
    for k, v in counter.items():
        p = v / len(values) * 100
        print(f'Class: {k}, Count: {v}, Percentage: {round(p, 2)}%')

In [6]:
from unidecode import unidecode
import re

def cleanString(input:str):
    output = input
    # 
    pattern = r'(?:\\u00)'
    reg = re.compile(pattern)    
    if reg.search(input): output =  output.encode().decode('unicode_escape')
    else: output =  output.encode().decode()    
    # Remove leading and talining white spaces (trimming)
    # Replacing inner white spaces by '_'
    # Set all characters to lower-case
    output = output.strip().replace(' ', '_').replace('-', '_').lower()
    # Replacing accented characters by non-accented ones
    output = unidecode(output)
    output = ''.join(['a' if ord(c) >= 128 else c for c in output])
    # Removing all non-ascii character from string
    output =  output.encode('ascii', 'ignore').decode('ascii')
    # Keeping only alpha-numeric characters plus '_' in string
    output = re.sub(r'[^\w\s|_]+', '', output)

    return output

In [7]:
def replaceString(input:str):
    input.replace( 
                {'color': r'^commoncolor_', 
                'transmissionType': r'^commontransmission_', 
                'bodyType': r'^body_type_',
                'seller_type': 'profesional',
                'seller_type': 'particular'}, 
                {'color': '', 
                'transmissionType': '',
                'bodyType': '',
                'seller_type': '',
                'seller_type': 'private'}, 
                regex=True,
                inplace=True)
    return input

In [8]:
import json

def load_data_from_files(file_list:list, PATH_BASE:str, removeFirstItemsCount=0, property_to_spread=''):
    """
    @file_list <list> -input- >> name list of all JSON files to load.
    @PATH_BASE <string> -input- >> the path of the directory which contains
        all the JSON files.
    @removeFirstItemsCount <numeric> -input- >> number of records in the 
        beginning that will be skipped from each input JSON file.
    @property_to_spread <string> -input- >> field that contains the main
        dictionary.
    @output <list> -output- >> stores in a list all 
        JSON records from ecah file in the list.
    """
    output = list()

    # Iterate over all full paths
    for file_name in file_list:
        # Getting the full file path
        path = PATH_BASE + file_name
        print(path)
        # Open each JSON file
        with open(path, 'r') as f:
            file_data = json.load(f)
            # Skipping the first "removeFirstItemsCount" 
            # records by dropping them
            for i in range(0, removeFirstItemsCount):
                file_data.pop(0)
            # Getting the main dictionary skipping the
            # "property_to_spread" record if exists
            if property_to_spread != '':
                # Add every JSON record to temp. dictionary
                for i, item in enumerate(file_data):
                    resto_de_datos = item.pop(property_to_spread)
                    file_data[i] = {**item, **resto_de_datos}
            print(len(file_data))
            # Add the temp. dictionary to the total dictionary
            output += file_data
    return output

In [9]:
# Load or save text files

def loadTextFileFromDisk(PATH):
    with open(PATH, encoding='utf-8', mode = 'r') as f:
        data = f.read()
    f.close()
    return data

def saveToTextFile(PATH, data):
    with open(PATH, encoding='utf-8', mode = 'w') as f:
        f.write(data)
    f.close()

# -----------------------------------------------------

# Load or save files

def loadFromDisk(PATH):
    with open(PATH, mode = 'r') as f:
        data = f.read()
    f.close()
    return data

def saveToDisk(PATH, data):
    with open(PATH, mode = 'w') as f:
        f.write(data)
    f.close()

In [10]:
# Load coches net json file removing fields

import json

def open_json_data(filename, removeFirstItemsCount = 0, property_to_spread = ''):
    
    try:
      with open(filename, 'r') as file:
        data = json.load(file)
    except UnicodeDecodeError as UDE:
      raise ValueError(f'{UDE}')
    except Exception as Err:
      print(f'{Err}')

    for i in range(0, removeFirstItemsCount):
      data.pop(0)

    if property_to_spread != '':
      for i, item in enumerate(data):
        resto_de_datos = item.pop(property_to_spread)
        data[i] = {**item, **resto_de_datos}

    return data

In [11]:
def open_json_data(path, removeFirstItemsCount = 0, property_to_spread = ''):
    
    with open(path, 'r') as file:
        data = json.load(file)

    for i in range(0, removeFirstItemsCount):
        data.pop(0)

    if property_to_spread != '':
        for i, item in enumerate(data):
            resto_de_datos = item.pop(property_to_spread)
            data[i] = {**item, **resto_de_datos}

    return data

## `COCHES.NET` DATA BUILT-IN TYPE
---

In [12]:
cars_details = {
	'color': [],
	'fuelTypeId': [],
	'fuelType': [],
	'id': [],
	'km': [],
	'make': [],
	'makeId': [],
	'model': [],
	'modelId': [],
	'price': [],
	'province': [],
	'provinceId': [],
	'title': [],
	'transmissionType': [],
	'transmissionTypeId': [],
	'year': [],
	'seller_type': [],
	'bodyType': [],
	'cubicCapacity': [],
	'doors': [],
	'hp': [],
	'url': [],
	'publicationDate': [],
    'dateTime': []
}

In [13]:
PATH = '/content/drive/MyDrive/BD/datos-coches-definitivos/'

json_list_A = [
    'd00.json',
    'd01.json',
    'd02.json',
    'd03.json',
    'd04.json',
    'd05.json',
    'd06.json',
    'd07.json',
    'd08.json',
]

json_list_B = [
    'd09.json',
    'd10.json',
    'd11.json'
]

json_list_C = [
    'd12.json',
    'd13.json',
    'd14.json',
    'd15.json',
    'd16.json',
    'd17.json',
    'd18.json',   
]

csv_list = ['d00.csv', 'd01.csv']

In [14]:
columns_json1 = [
    'url',
    'datetime',
    'color',
    'fuelTypeId',
    'fuelType',
    'id',
    'km',
    'make',
    'makeId',
    'model',
    'modelId',
    'price',
    'province',
    'provinceId',
    'title',
    'transmissionType',
    'transmissionTypeId',
    'year',
    'brand',
    'brand_id',
    'fuel_types',
    'model_id',
    'seller_type',
    'bodyType',
    'cubicCapacity',
    'doors',
    'hp'
]

columns_json2 = columns_json1[1:] + columns_json1[0:1]
columns_json2.remove('datetime')
print(columns_json2)

['color', 'fuelTypeId', 'fuelType', 'id', 'km', 'make', 'makeId', 'model', 'modelId', 'price', 'province', 'provinceId', 'title', 'transmissionType', 'transmissionTypeId', 'year', 'brand', 'brand_id', 'fuel_types', 'model_id', 'seller_type', 'bodyType', 'cubicCapacity', 'doors', 'hp', 'url']

## TEST: Load and display a JSON file

In [15]:
#@title List_A
file_number = 8 #@param ["0", "1", "2", "3", "4", "5", "6", "7", "8"] {type:"raw"}

path = PATH + json_list_A[int(file_number)]
print(path)
data = open_json_data(path, 2, 'resto_de_datos')
data[0]

{'url': 'https://www.coches.net/honda-jazz-13-ivtec-cvt-elegance-navi-5p-gasolina-2018-en-barcelona-54739639-covo.aspx',
 'datetime': '2023-04-12 10:57:58',
 'color': 'COMMON.COLOR_RED',
 'fuelTypeId': 2,
 'fuelType': 'Gasolina',
 'id': '54739639',
 'km': 48829,
 'make': 'HONDA',
 'makeId': 69,
 'model': 'Jazz',
 'modelId': 456,
 'price': 17600,
 'province': 'Barcelona',
 'provinceId': 8,
 'title': 'HONDA Jazz 1.3 iVTEC CVT ELEGANCE NAVI 5p.',
 'transmissionType': 'COMMON.TRANSMISSION_AUTOMATIC',
 'transmissionTypeId': 1,
 'year': 2018,
 'brand': 'HONDA',
 'brand_id': 69,
 'fuel_types': 'Gasolina',
 'model_id': 456,
 'seller_type': 'profesional',
 'bodyType': 'BODY_TYPE_SEDAN',
 'cubicCapacity': 1318,
 'doors': 5,
 'hp': 102}

In [16]:
path = PATH + json_list_B[2]
print(path)
data = open_json_data(path, 0, '')
data[0]

/content/drive/MyDrive/BD/datos-coches-definitivos/d11.json

{'url': 'https://www.coches.net/peugeot-208-5p-active-16-bluehdi-100-5p-diesel-2016-en-vizcaya-54196787-covo.aspx',
 'datetime': '2023-04-11 20:50:55',
 'color': 'COMMON.COLOR_WHITE',
 'fuelTypeId': 1,
 'fuelType': 'Diésel',
 'id': '54196787',
 'km': 30799,
 'make': 'PEUGEOT',
 'makeId': 33,
 'model': '208',
 'modelId': 1021,
 'price': 14400,
 'province': 'Vizcaya',
 'provinceId': 48,
 'title': 'PEUGEOT 208 5P ACTIVE 1.6 BlueHDi 100 5p.',
 'transmissionType': 'COMMON.TRANSMISSION_MANUAL',
 'transmissionTypeId': 2,
 'year': 2017,
 'brand': 'PEUGEOT',
 'brand_id': 33,
 'fuel_types': 'Diésel',
 'model_id': 1021,
 'seller_type': 'profesional',
 'bodyType': 'BODY_TYPE_SEDAN',
 'cubicCapacity': 1560,
 'doors': 5,
 'hp': 100}

In [17]:
print(path)
data = open_json_data(path, 0, '')
data[0]

/content/drive/MyDrive/BD/datos-coches-definitivos/d11.json

{'url': 'https://www.coches.net/peugeot-208-5p-active-16-bluehdi-100-5p-diesel-2016-en-vizcaya-54196787-covo.aspx',
 'datetime': '2023-04-11 20:50:55',
 'color': 'COMMON.COLOR_WHITE',
 'fuelTypeId': 1,
 'fuelType': 'Diésel',
 'id': '54196787',
 'km': 30799,
 'make': 'PEUGEOT',
 'makeId': 33,
 'model': '208',
 'modelId': 1021,
 'price': 14400,
 'province': 'Vizcaya',
 'provinceId': 48,
 'title': 'PEUGEOT 208 5P ACTIVE 1.6 BlueHDi 100 5p.',
 'transmissionType': 'COMMON.TRANSMISSION_MANUAL',
 'transmissionTypeId': 2,
 'year': 2017,
 'brand': 'PEUGEOT',
 'brand_id': 33,
 'fuel_types': 'Diésel',
 'model_id': 1021,
 'seller_type': 'profesional',
 'bodyType': 'BODY_TYPE_SEDAN',
 'cubicCapacity': 1560,
 'doors': 5,
 'hp': 100}

# LOAD DATASET

## Process JSON data

Loading data from all JSON files into a single list

In [18]:
data1, data2, dataTotal = list(), list(), list()
data1 = load_data_from_files(json_list_A, PATH, 2, 'resto_de_datos')

/content/drive/MyDrive/BD/datos-coches-definitivos/d00.json
1438
/content/drive/MyDrive/BD/datos-coches-definitivos/d01.json
389
/content/drive/MyDrive/BD/datos-coches-definitivos/d02.json
1170
/content/drive/MyDrive/BD/datos-coches-definitivos/d03.json
716
/content/drive/MyDrive/BD/datos-coches-definitivos/d04.json
1526
/content/drive/MyDrive/BD/datos-coches-definitivos/d05.json
1228
/content/drive/MyDrive/BD/datos-coches-definitivos/d06.json
110
/content/drive/MyDrive/BD/datos-coches-definitivos/d07.json
831
/content/drive/MyDrive/BD/datos-coches-definitivos/d08.json
1126

In [19]:
data2 = load_data_from_files(json_list_B, PATH, 0, '')

/content/drive/MyDrive/BD/datos-coches-definitivos/d09.json
1050
/content/drive/MyDrive/BD/datos-coches-definitivos/d10.json
1140
/content/drive/MyDrive/BD/datos-coches-definitivos/d11.json
151

In [20]:
data3 = load_data_from_files(json_list_C, PATH, 0, '')

/content/drive/MyDrive/BD/datos-coches-definitivos/d12.json
60
/content/drive/MyDrive/BD/datos-coches-definitivos/d13.json
60
/content/drive/MyDrive/BD/datos-coches-definitivos/d14.json
60
/content/drive/MyDrive/BD/datos-coches-definitivos/d15.json
480
/content/drive/MyDrive/BD/datos-coches-definitivos/d16.json
60
/content/drive/MyDrive/BD/datos-coches-definitivos/d17.json
270
/content/drive/MyDrive/BD/datos-coches-definitivos/d18.json
60

In [21]:
print(len(data1))
print(len(data2))
print(len(data3))

8534
2341
1050

In [22]:
df_temp1 = pd.DataFrame(data=data1 + data2, columns=columns_json1)
df_temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 10875 non-null  object
 1   datetime            10875 non-null  object
 2   color               10874 non-null  object
 3   fuelTypeId          10875 non-null  int64
 4   fuelType            10875 non-null  object
 5   id                  10875 non-null  object
 6   km                  10875 non-null  int64
 7   make                10875 non-null  object
 8   makeId              10875 non-null  int64
 9   model               10875 non-null  object
 10  modelId             10866 non-null  float64
 11  price               10875 non-null  int64
 12  province            10875 non-null  object
 13  provinceId          10875 non-null  int64
 14  title               10875 non-null  object
 15  transmissionType    10871 non-null  object
 16  transmissionTypeId  10871 non-null  float64
 17  year                10875 non-null  int64
 18  brand               10875 non-null  object
 19  brand_id            10875 non-null  int64
 20  fuel_types          10875 non-null  object
 21  model_id            10866 non-null  float64
 22  seller_type         10875 non-null  object
 23  bodyType            10682 non-null  object
 24  cubicCapacity       10553 non-null  float64
 25  doors               10866 non-null  float64
 26  hp                  10680 non-null  float64
dtypes: float64(6), int64(7), object(14)
memory usage: 2.2+ MB

In [23]:
df_temp2 = pd.DataFrame(data=data3, columns=columns_json2)
series = pd.Series(data=np.zeros(len(data3)), name='datetime')
df_temp2 = pd.concat([df_temp2, series], axis=1)
df_temp2 = df_temp2[columns_json1]
df_temp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 1050 non-null   object
 1   datetime            1050 non-null   float64
 2   color               1050 non-null   object
 3   fuelTypeId          1050 non-null   object
 4   fuelType            1050 non-null   object
 5   id                  1050 non-null   object
 6   km                  1050 non-null   object
 7   make                1050 non-null   object
 8   makeId              1050 non-null   object
 9   model               1050 non-null   object
 10  modelId             1050 non-null   object
 11  price               1050 non-null   object
 12  province            1050 non-null   object
 13  provinceId          1050 non-null   object
 14  title               1050 non-null   object
 15  transmissionType    1050 non-null   object
 16  transmissionTypeId  1050 non-null   object
 17  year                1050 non-null   object
 18  brand               1050 non-null   object
 19  brand_id            1050 non-null   object
 20  fuel_types          1050 non-null   object
 21  model_id            1050 non-null   object
 22  seller_type         1050 non-null   object
 23  bodyType            1045 non-null   object
 24  cubicCapacity       963 non-null    object
 25  doors               1050 non-null   object
 26  hp                  1045 non-null   object
dtypes: float64(1), object(26)
memory usage: 221.6+ KB

In [24]:
df_json = pd.concat([df_temp1, df_temp2], axis=0, ignore_index=True)
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11925 entries, 0 to 11924
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 11925 non-null  object
 1   datetime            11925 non-null  object
 2   color               11924 non-null  object
 3   fuelTypeId          11925 non-null  object
 4   fuelType            11925 non-null  object
 5   id                  11925 non-null  object
 6   km                  11925 non-null  object
 7   make                11925 non-null  object
 8   makeId              11925 non-null  object
 9   model               11925 non-null  object
 10  modelId             11916 non-null  object
 11  price               11925 non-null  object
 12  province            11925 non-null  object
 13  provinceId          11925 non-null  object
 14  title               11925 non-null  object
 15  transmissionType    11921 non-null  object
 16  transmissionTypeId  11921 non-null  object
 17  year                11925 non-null  object
 18  brand               11925 non-null  object
 19  brand_id            11925 non-null  object
 20  fuel_types          11925 non-null  object
 21  model_id            11916 non-null  object
 22  seller_type         11925 non-null  object
 23  bodyType            11727 non-null  object
 24  cubicCapacity       11516 non-null  object
 25  doors               11916 non-null  object
 26  hp                  11725 non-null  object
dtypes: object(27)
memory usage: 2.5+ MB

In [26]:
df_json.head(3).T

,0,1,2
url,https://www.coches.net/opel-corsa-14-selective...,https://www.coches.net/opel-corsa-12t-xhl-74kw...,https://www.coches.net/opel-combo-life-15-td-7...
datetime,2023-04-09 21:14:56,2023-04-09 21:15:02,2023-04-09 21:15:08
color,COMMON.COLOR_WHITE,COMMON.COLOR_BLUE,COMMON.COLOR_BEIGE
fuelTypeId,6,2,1
fuelType,Gas licuado (GLP),Gasolina,Diésel
id,54581374,54360894,54352301
km,48100,43990,31000
make,OPEL,OPEL,OPEL
makeId,32,32,32
model,Corsa,Corsa,Combo Life
modelId,77.0,77.0,1253.0
price,15500,16600,23500
province,Barcelona,Barcelona,Las Palmas
provinceId,8,8,35
title,OPEL Corsa 1.4 Selective 66kW 90CV GLP WLTP 5p.,OPEL Corsa 1.2T XHL 74kW 100CV Elegance 5p.,OPEL Combo Life 1.5 TD 75kW 100CV SS Elegance ...
transmissionType,COMMON.TRANSMISSION_MANUAL,COMMON.TRANSMISSION_MANUAL,COMMON.TRANSMISSION_MANUAL
transmissionTypeId,2.0,2.0,2.0
year,2018,2021,2021
brand,OPEL,OPEL,OPEL
brand_id,32,32,32
fuel_types,Gas licuado (GLP),Gasolina,Diésel
model_id,77.0,77.0,1253.0
seller_type,particular,profesional,particular
bodyType,BODY_TYPE_SEDAN,BODY_TYPE_SEDAN,BODY_TYPE_MINIVAN
cubicCapacity,1398.0,1199.0,1499.0
doors,5.0,5.0,5.0
hp,90.0,100.0,102.0

## Process CSV data

**Adds CSV content to JSON list**

> * Each CVS file has different feature structure.

> * They will be loaded one-by-one. 

> * Then both dataframes will be merged into a single one with same feature order.

In [27]:
import pandas as pd

missing_values = ['', ' ', 'none']
path1 = PATH + csv_list[0]
path2 = PATH + csv_list[1]

try:
    df_temp1 = pd.read_csv(path1, na_values=missing_values, header='infer')
    df_temp2 = pd.read_csv(path2, na_values=missing_values, header='infer')
except NameError as NE:
    (print(f"ERROR!!"))
except FileNotFoundError as FNF:
    raise Exception("ERROR!! File not found: {FNF}")
except:
    raise Exception("Unknown error")
else:
    print(f"Files loaded successfully")
finally:
    print("Program finalized")

Files loaded successfully
Program finalized

**Process first CSV dataframe**

In [28]:
columnsDict = {
    'Unnamed: 0': 'delete', 
    'fuelType': 'fuelType', 
    'fuelTypeId': 'fuelTypeId', 
    'color': 'color', 
    'id': 'id', 
    'km': 'km',
    'make': 'make', 
    'makeId': 'makeId', 
    'model': 'model', 
    'modelId': 'modelId', 
    'province': 'province', 
    'provinceId': 'provinceId',
    'price': 'price', 
    'title': 'title', 
    'transmissionType': 'transmissionType', 
    'transmissionTypeId': 'transmissionTypeId', 
    'year': 'year',
    'seller_type': 'seller_type', 
    'seller_type_id': 'seller_type_id', 
    'body_types': 'body_type', 
    'body_types_id': 'body_types_id',
    'cubicCapacity': 'cubicCapacity', 
    'doors': 'doors', 
    'hp': 'hp', 
    'url': 'url', 
    'date': 'datetime'
}

df_temp1.rename(columns=columnsDict, inplace=True)

In [29]:
columns_in_csv_df = set(df_temp1.columns.values)
columns_in_json_df = set(columns_json1)

columns_in_csv_but_not_in_json = list(columns_in_csv_df.difference(columns_in_json_df))
columns_in_json_but_not_in_csv = list(columns_in_json_df.difference(columns_in_csv_df))
columns_in_both = list(columns_in_json_df.intersection(columns_in_csv_df))

print(columns_in_csv_but_not_in_json)
print(columns_in_json_but_not_in_csv)
print(columns_in_both)

['seller_type_id', 'body_type', 'delete', 'body_types_id']
['model_id', 'brand', 'brand_id', 'bodyType', 'fuel_types']
['price', 'fuelTypeId', 'province', 'color', 'transmissionTypeId', 'make', 'fuelType', 'provinceId', 'id', 'model', 'makeId', 'cubicCapacity', 'modelId', 'doors', 'seller_type', 'datetime', 'transmissionType', 'hp', 'year', 'title', 'url', 'km']

In [30]:
df_temp1.drop(columns=columns_in_csv_but_not_in_json, inplace=True)
df_temp1 = pd.concat([df_temp1, pd.DataFrame(columns=columns_in_json_but_not_in_csv)], axis=1)

In [31]:
set(columns_json1) == set(df_temp1.columns.to_list())

True

In [32]:
df_temp1 = df_temp1[columns_json1]

In [33]:
columns_json1 == df_temp1.columns.to_list()

True

In [34]:
# Reset dataframe index
df_temp1.reset_index(drop=True, inplace=True)

In [35]:
df_temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 2014 non-null   object
 1   datetime            2014 non-null   object
 2   color               2007 non-null   object
 3   fuelTypeId          2008 non-null   float64
 4   fuelType            2008 non-null   object
 5   id                  2008 non-null   float64
 6   km                  2008 non-null   float64
 7   make                2008 non-null   object
 8   makeId              2008 non-null   float64
 9   model               2008 non-null   object
 10  modelId             2006 non-null   float64
 11  price               2008 non-null   float64
 12  province            2008 non-null   object
 13  provinceId          2008 non-null   float64
 14  title               2008 non-null   object
 15  transmissionType    2008 non-null   object
 16  transmissionTypeId  2008 non-null   float64
 17  year                2008 non-null   float64
 18  brand               0 non-null      object
 19  brand_id            0 non-null      object
 20  fuel_types          0 non-null      object
 21  model_id            0 non-null      object
 22  seller_type         2008 non-null   object
 23  bodyType            0 non-null      object
 24  cubicCapacity       1934 non-null   float64
 25  doors               2006 non-null   float64
 26  hp                  1961 non-null   float64
dtypes: float64(12), object(15)
memory usage: 425.0+ KB

**Process second CSV dataframe**

In [36]:
columnsDict = { 
    'color': 'color', 
    'fuelTypeId': 'fuelTypeId', 
    'fuelType': 'fuelType',
    'id': 'id', 
    'km': 'km',
    'make': 'make', 
    'makeId': 'makeId', 
    'model': 'model', 
    'modelId': 'modelId', 
    'price': 'price',
    'province': 'province', 
    'provinceId': 'provinceId',
    'title': 'title', 
    'transmissionType': 'transmissionType', 
    'transmissionTypeId': 'transmissionTypeId', 
    'year': 'year',
    'seller_type': 'seller_type', 
    'body_type': 'body_type',
    'cubicCapacity': 'cubicCapacity', 
    'doors': 'doors', 
    'hp': 'hp', 
    'url': 'url', 
    'publicationDate': 'publicationDate',
    'fecha': 'datetime'
}

df_temp2.rename(columns=columnsDict, inplace=True)

In [37]:
columns_in_csv_df = set(df_temp2.columns.values)
columns_in_json_df = set(columns_json1)

columns_in_csv_but_not_in_json = list(columns_in_csv_df.difference(columns_in_json_df))
columns_in_json_but_not_in_csv = list(columns_in_json_df.difference(columns_in_csv_df))
columns_in_both = list(columns_in_json_df.intersection(columns_in_csv_df))

print(columns_in_csv_but_not_in_json)
print(columns_in_json_but_not_in_csv)
print(columns_in_both)

['publicationDate']
['brand_id', 'model_id', 'brand', 'fuel_types']
['price', 'fuelTypeId', 'province', 'color', 'transmissionTypeId', 'make', 'bodyType', 'fuelType', 'provinceId', 'id', 'model', 'makeId', 'cubicCapacity', 'modelId', 'doors', 'seller_type', 'datetime', 'transmissionType', 'hp', 'year', 'title', 'url', 'km']

In [38]:
df_temp2.drop(columns=columns_in_csv_but_not_in_json, inplace=True)
df_temp2 = pd.concat([df_temp2, pd.DataFrame(columns=columns_in_json_but_not_in_csv)], axis=1)

In [39]:
set(columns_json1) == set(df_temp2.columns.to_list())

True

In [40]:
df_temp2 = df_temp2[columns_json1]

In [42]:
columns_json1 == df_temp2.columns.to_list()

True

In [43]:
# Reset dataframe index
df_temp2.reset_index(drop=True, inplace=True)

In [44]:
df_temp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 1038 non-null   object
 1   datetime            1038 non-null   object
 2   color               1038 non-null   object
 3   fuelTypeId          1038 non-null   int64
 4   fuelType            1038 non-null   object
 5   id                  1038 non-null   object
 6   km                  1038 non-null   int64
 7   make                1038 non-null   object
 8   makeId              1038 non-null   int64
 9   model               1038 non-null   object
 10  modelId             1038 non-null   int64
 11  price               1038 non-null   int64
 12  province            1038 non-null   object
 13  provinceId          1038 non-null   int64
 14  title               1038 non-null   object
 15  transmissionType    1038 non-null   object
 16  transmissionTypeId  1038 non-null   int64
 17  year                1038 non-null   int64
 18  brand               0 non-null      object
 19  brand_id            0 non-null      object
 20  fuel_types          0 non-null      object
 21  model_id            0 non-null      object
 22  seller_type         1038 non-null   object
 23  bodyType            1038 non-null   object
 24  cubicCapacity       1038 non-null   int64
 25  doors               1038 non-null   int64
 26  hp                  1038 non-null   int64
dtypes: int64(11), object(16)
memory usage: 219.1+ KB

**Process result dataframe**

Create a dataframe with same feature order than JSON files by joining both CSV datasets

In [45]:
df_temp1.columns.to_list() == df_temp2.columns.to_list()

True

In [46]:
df_csv = pd.concat([df_temp1, df_temp2], ignore_index=True)

In [48]:
df_csv.head()

,url,datetime,color,fuelTypeId,fuelType,id,km,make,makeId,model,...,year,brand,brand_id,fuel_types,model_id,seller_type,bodyType,cubicCapacity,doors,hp
0,https://www.coches.net/bmw-x3-sdrive18d-diesel...,2023-04-08 21:24:06,COMMON.COLOR_BLACK,1.0,Diésel,53501300.0,170000.0,BMW,7.0,X3,...,2015.0,NaN,NaN,NaN,NaN,profesional,NaN,1995.0,5.0,150.0
1,https://www.coches.net/bmw-serie-5-520da-touri...,2023-04-08 21:24:14,COMMON.COLOR_WHITE,1.0,Diésel,54722839.0,88000.0,BMW,7.0,Serie 5,...,2018.0,NaN,NaN,NaN,NaN,particular,NaN,1995.0,5.0,190.0
2,https://www.coches.net/bmw-x5-xdrive30d-5p-die...,2023-04-08 21:24:16,COMMON.COLOR_BLACK,1.0,Diésel,54738428.0,74500.0,BMW,7.0,X5,...,2020.0,NaN,NaN,NaN,NaN,profesional,NaN,2993.0,5.0,265.0
3,https://www.coches.net/bmw-serie-1-118i-corpor...,2023-04-08 21:24:18,COMMON.COLOR_BLUE,2.0,Gasolina,54594808.0,39956.0,BMW,7.0,Serie 1,...,2021.0,NaN,NaN,NaN,NaN,particular,NaN,1499.0,5.0,136.0
4,https://www.coches.net/bmw-serie-2-gran-tourer...,2023-04-08 21:24:20,COMMON.COLOR_BLACK,1.0,Diésel,53851852.0,96267.0,BMW,7.0,Serie 2 Gran Tourer,...,2016.0,NaN,NaN,NaN,NaN,profesional,NaN,1995.0,5.0,150.0

In [47]:
df_csv.tail()

,url,datetime,color,fuelTypeId,fuelType,id,km,make,makeId,model,...,year,brand,brand_id,fuel_types,model_id,seller_type,bodyType,cubicCapacity,doors,hp
3047,https://www.coches.net/audi-a7-sportback-30-td...,2023-04-09T190648+0200,GRAY,1.0,Diésel,54808086,156000.0,AUDI,4.0,A7,...,2014.0,NaN,NaN,NaN,NaN,particular,Berlina,2967.0,5.0,204.0
3048,https://www.coches.net/audi-a3-16-tdi-sportbac...,2023-04-09T190704+0200,GRAY,1.0,Diésel,54537462,77864.0,AUDI,4.0,A3,...,2017.0,NaN,NaN,NaN,NaN,profesional,Berlina,1598.0,5.0,110.0
3049,https://www.coches.net/audi-sq5-30-tdi-326cv-q...,2023-04-09T190719+0200,WHITE,1.0,Diésel,53675993,95000.0,AUDI,4.0,SQ5,...,2015.0,NaN,NaN,NaN,NaN,profesional,4x4 SUV,2967.0,5.0,326.0
3050,https://www.coches.net/audi-rs6-avant-40-tfsi-...,2023-04-09T190732+0200,GRAY,2.0,Gasolina,54048693,110000.0,AUDI,4.0,RS6,...,2014.0,NaN,NaN,NaN,NaN,profesional,Familiar,3993.0,5.0,560.0
3051,https://www.coches.net/audi-a1-attraction-14-t...,2023-04-09T190745+0200,BLUE,2.0,Gasolina,2 centros en Alcorcón,95536.0,AUDI,4.0,A1,...,2018.0,NaN,NaN,NaN,NaN,profesional,Berlina,1395.0,3.0,125.0

In [49]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3052 entries, 0 to 3051
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 3052 non-null   object
 1   datetime            3052 non-null   object
 2   color               3045 non-null   object
 3   fuelTypeId          3046 non-null   float64
 4   fuelType            3046 non-null   object
 5   id                  3046 non-null   object
 6   km                  3046 non-null   float64
 7   make                3046 non-null   object
 8   makeId              3046 non-null   float64
 9   model               3046 non-null   object
 10  modelId             3044 non-null   float64
 11  price               3046 non-null   float64
 12  province            3046 non-null   object
 13  provinceId          3046 non-null   float64
 14  title               3046 non-null   object
 15  transmissionType    3046 non-null   object
 16  transmissionTypeId  3046 non-null   float64
 17  year                3046 non-null   float64
 18  brand               0 non-null      object
 19  brand_id            0 non-null      object
 20  fuel_types          0 non-null      object
 21  model_id            0 non-null      object
 22  seller_type         3046 non-null   object
 23  bodyType            1038 non-null   object
 24  cubicCapacity       2972 non-null   float64
 25  doors               3044 non-null   float64
 26  hp                  2999 non-null   float64
dtypes: float64(11), object(16)
memory usage: 643.9+ KB

## Merge CSV DATA with JSON data

In [50]:
df_json.columns.to_list() == df_csv.columns.to_list()

True

In [51]:
df = pd.concat([df_json, df_csv], ignore_index=True)

Move `price` fetature to dataframe last place.

In [52]:
cols = df.columns.to_list()
cols = cols[:11] + cols[12:] + cols[11:12]
print(len(cols))
df = df[cols]

27

In [53]:
df.head(3).T

,0,1,2
url,https://www.coches.net/opel-corsa-14-selective...,https://www.coches.net/opel-corsa-12t-xhl-74kw...,https://www.coches.net/opel-combo-life-15-td-7...
datetime,2023-04-09 21:14:56,2023-04-09 21:15:02,2023-04-09 21:15:08
color,COMMON.COLOR_WHITE,COMMON.COLOR_BLUE,COMMON.COLOR_BEIGE
fuelTypeId,6,2,1
fuelType,Gas licuado (GLP),Gasolina,Diésel
id,54581374,54360894,54352301
km,48100,43990,31000
make,OPEL,OPEL,OPEL
makeId,32,32,32
model,Corsa,Corsa,Combo Life
modelId,77.0,77.0,1253.0
province,Barcelona,Barcelona,Las Palmas
provinceId,8,8,35
title,OPEL Corsa 1.4 Selective 66kW 90CV GLP WLTP 5p.,OPEL Corsa 1.2T XHL 74kW 100CV Elegance 5p.,OPEL Combo Life 1.5 TD 75kW 100CV SS Elegance ...
transmissionType,COMMON.TRANSMISSION_MANUAL,COMMON.TRANSMISSION_MANUAL,COMMON.TRANSMISSION_MANUAL
transmissionTypeId,2.0,2.0,2.0
year,2018,2021,2021
brand,OPEL,OPEL,OPEL
brand_id,32,32,32
fuel_types,Gas licuado (GLP),Gasolina,Diésel
model_id,77.0,77.0,1253.0
seller_type,particular,profesional,particular
bodyType,BODY_TYPE_SEDAN,BODY_TYPE_SEDAN,BODY_TYPE_MINIVAN
cubicCapacity,1398.0,1199.0,1499.0
doors,5.0,5.0,5.0
hp,90.0,100.0,102.0
price,15500,16600,23500

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14977 entries, 0 to 14976
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 14977 non-null  object
 1   datetime            14977 non-null  object
 2   color               14969 non-null  object
 3   fuelTypeId          14971 non-null  object
 4   fuelType            14971 non-null  object
 5   id                  14971 non-null  object
 6   km                  14971 non-null  object
 7   make                14971 non-null  object
 8   makeId              14971 non-null  object
 9   model               14971 non-null  object
 10  modelId             14960 non-null  object
 11  province            14971 non-null  object
 12  provinceId          14971 non-null  object
 13  title               14971 non-null  object
 14  transmissionType    14967 non-null  object
 15  transmissionTypeId  14967 non-null  object
 16  year                14971 non-null  object
 17  brand               11925 non-null  object
 18  brand_id            11925 non-null  object
 19  fuel_types          11925 non-null  object
 20  model_id            11916 non-null  object
 21  seller_type         14971 non-null  object
 22  bodyType            12765 non-null  object
 23  cubicCapacity       14488 non-null  object
 24  doors               14960 non-null  object
 25  hp                  14724 non-null  object
 26  price               14971 non-null  object
dtypes: object(27)
memory usage: 3.1+ MB

# PRE-PROCESSING

Cleaning each dataset before summing-up

## TEST: cleaning process step-by-step with single JSON file

### First

Load dataset

In [55]:
path = PATH + json_list_A[0]
print(path)
data = open_json_data(path, 2, 'resto_de_datos')

/content/drive/MyDrive/BD/datos-coches-definitivos/d00.json

Add each JSON record to the result dataframe

In [56]:
columns = list(data[0].keys())

In [57]:
dft = pd.DataFrame()

for i in range(len(data)):
    df_temp = pd.DataFrame(data=data[i], index=[i], columns=columns)
    dft = pd.concat([dft, df_temp], axis=0)

### Drop from dataset columns that not makes any difference

In [58]:
# Setting the columns to remove from datframe
columns_to_drop = [
    'url',
    'datetime',
    'fuelTypeId',
    'id',
    'makeId',
    'modelId',
    'provinceId',
    'title',
    'transmissionTypeId',
    'brand',
    'brand_id',
    'model_id',
    'fuel_types'
]

# Setting the columns to keep in dataset
columns_to_keep = set(dft.columns.values)
columns_to_keep.difference_update(set(columns_to_drop))
print(columns_to_keep)

# Dropping specified columns from dataframe
dft.drop(columns=columns_to_drop, inplace=True)

{'price', 'province', 'color', 'make', 'bodyType', 'fuelType', 'model', 'cubicCapacity', 'doors', 'seller_type', 'transmissionType', 'hp', 'year', 'km'}

In [59]:
dft.head(1).T

                                           0
color                     COMMON.COLOR_WHITE
fuelType                   Gas licuado (GLP)
km                                     48100
make                                    OPEL
model                                  Corsa
price                                  15500
province                           Barcelona
transmissionType  COMMON.TRANSMISSION_MANUAL
year                                    2018
seller_type                       particular
bodyType                     BODY_TYPE_SEDAN
cubicCapacity                           1398
doors                                      5
hp                                        90

In [60]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1438 entries, 0 to 1437
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color             1438 non-null   object
 1   fuelType          1438 non-null   object
 2   km                1438 non-null   int64
 3   make              1438 non-null   object
 4   model             1438 non-null   object
 5   price             1438 non-null   int64
 6   province          1438 non-null   object
 7   transmissionType  1437 non-null   object
 8   year              1438 non-null   int64
 9   seller_type       1438 non-null   object
 10  bodyType          1393 non-null   object
 11  cubicCapacity     1364 non-null   object
 12  doors             1438 non-null   int64
 13  hp                1391 non-null   object
dtypes: int64(4), object(10)
memory usage: 168.5+ KB

Missing values, empty cells, NaN, NA

In [61]:
# Total NaN values in dataset 
print(f'Total NaN values: {dft.isna().sum().sum()}')
# Total NULL values in dataset 
print(f'Total NULL values: {dft.isnull().sum().sum()}')
print(f'---------------------')
# Total missing values by column
print(f'Total NaN values:\n{dft.isna().sum()}')

Total NaN values: 167
Total NULL values: 167
---------------------
Total NaN values:
color                0
fuelType             0
km                   0
make                 0
model                0
price                0
province             0
transmissionType     1
year                 0
seller_type          0
bodyType            45
cubicCapacity       74
doors                0
hp                  47
dtype: int64

Removing records with missing values

In [62]:
before = dft.shape[0]
dft.dropna(inplace=True)
after = dft.shape[0]
print(f'Number of rows dropped in dataset: {before - after}')

Number of rows dropped in dataset: 76

### Duplicates

Removing duplicate rows from dataframe

In [63]:
before = dft.shape[0]
print(f"Num. of rows before: {before}")
print(f"-----------------------------------")
dft = dft.drop_duplicates()
after = dft.shape[0]
print(f"Num. of rows after: {after}")
print(f"-----------------------------------")
print(f"Number of rows dropped in dataset:: {before - after}")

Num. of rows before: 1362
-----------------------------------
Num. of rows after: 1309
-----------------------------------
Number of rows dropped in dataset:: 53

In [64]:
# Reset dataframe index
dft.reset_index(drop=True, inplace=True)

### Checking columns data types

Checking if a dataframe column has a wrong data type.

Reference data types must be set by hand.

> Three functions than should help us checking data types:

```python
DataFrame.convert_dtypes()
DataFrame.infer_objects()
pandas.Series.astype()
```

In [65]:
# Trying to cast automatically every column to its best data type
# (It's works from time to time)
dft = dft.convert_dtypes()
print(dft.dtypes)

color               string
fuelType            string
km                   Int64
make                string
model               string
price                Int64
province            string
transmissionType    string
year                 Int64
seller_type         string
bodyType            string
cubicCapacity        Int64
doors                Int64
hp                   Int64
dtype: object

### Summarize features

In [66]:
import numpy as np

ALL_FEATURES = list(dft)
# Another way to obtain feature names
# ----------------------------------------
# ALL_FEATURES = dft.columns.values

# There is no target in clustering ML task
# ----------------------------------------
# TARGET = '6'

NUMERIC_FEATURES = dft.select_dtypes(include=[np.number]).columns.to_list()
# NUMERIC_FEATURES.remove(TARGET)

CATEGORICAL_FEATURES = dft.select_dtypes(exclude=[np.number]).columns.to_list()

print(NUMERIC_FEATURES)
print(CATEGORICAL_FEATURES)

['km', 'price', 'year', 'cubicCapacity', 'doors', 'hp']
['color', 'fuelType', 'make', 'model', 'province', 'transmissionType', 'seller_type', 'bodyType']

### Normalizing feature values

Print feature unique values

In [67]:
unique = set(dft['province'].values)
print(unique)

{'Barcelona', 'Lleida', 'Girona', 'A Coruña', 'Vizcaya', 'Ciudad Real', 'Salamanca', 'Guipúzcoa', 'Córdoba', 'Burgos', 'Huelva', 'Badajoz', 'Sevilla', 'Navarra', 'Palencia', 'Murcia', 'León', 'Albacete', 'Ourense', 'Tarragona', 'Toledo', 'Cáceres', 'Alicante', 'Málaga', 'Pontevedra', 'Álava', 'Zamora', 'Las Palmas', 'Almería', 'Lugo', 'Sta. C. Tenerife', 'Cuenca', 'Zaragoza', 'Cádiz', 'Ávila', 'Granada', 'Castellón', 'Soria', 'Guadalajara', 'Valladolid', 'Cantabria', 'La Rioja', 'Jaén', 'Baleares', 'Valencia', 'Asturias', 'Madrid'}

In [68]:
# Iterate over all categorical features
for f in CATEGORICAL_FEATURES:
    # Checking each column value
    for i in range(dft.shape[0]):
        # Perform a generci full-cleaning of each categorical value
        string = dft.loc[i, f]
        dft.loc[i, f] = cleanString(string)
        # Running feature-specific cleaning
        if f == 'color':
            dft.loc[i, f] = dft.loc[i, f].replace('commoncolor_', '')
        elif f == 'transmissionType':
            dft.loc[i, f] = dft.loc[i, f].replace('commontransmission_', '')
        elif f == 'seller_type':
            dft.loc[i, f] = dft.loc[i, f].replace('profesional', 'professional')
            dft.loc[i, f] = dft.loc[i, f].replace('particular', 'private')
        elif f == 'bodyType':
            dft.loc[i, f] = dft.loc[i, f].replace('body_type_', '')

In [69]:
unique = set(dft['province'].values)
print(unique)

{'almeria', 'sevilla', 'ciudad_real', 'salamanca', 'tarragona', 'valencia', 'cuenca', 'guipuzcoa', 'ourense', 'barcelona', 'cordoba', 'burgos', 'murcia', 'palencia', 'alicante', 'baleares', 'asturias', 'cadiz', 'guadalajara', 'girona', 'vizcaya', 'huelva', 'alava', 'soria', 'las_palmas', 'avila', 'madrid', 'la_rioja', 'cantabria', 'toledo', 'zamora', 'lugo', 'leon', 'granada', 'castellon', 'a_coruna', 'zaragoza', 'jaen', 'valladolid', 'sta_c_tenerife', 'albacete', 'pontevedra', 'caceres', 'badajoz', 'lleida', 'navarra', 'malaga'}

In [70]:
dft.head()

,color,fuelType,km,make,model,price,province,transmissionType,year,seller_type,bodyType,cubicCapacity,doors,hp
0,white,gas_licuado_glp,48100,opel,corsa,15500,barcelona,manual,2018,private,sedan,1398,5,90
1,blue,gasolina,43990,opel,corsa,16600,barcelona,manual,2021,professional,sedan,1199,5,100
2,beige,diesel,31000,opel,combo_life,23500,las_palmas,manual,2021,private,minivan,1499,5,102
3,gray,gasolina,57964,opel,crossland,18950,ciudad_real,manual,2021,professional,4x4,1199,5,110
4,gray,gasolina,104000,opel,astra,12790,sta_c_tenerife,manual,2018,professional,sedan,1399,5,125

In [71]:
dft.tail()

,color,fuelType,km,make,model,price,province,transmissionType,year,seller_type,bodyType,cubicCapacity,doors,hp
1304,gray,diesel,100123,renault,scenic,15490,barcelona,manual,2015,professional,minivan,1461,5,110
1305,orange,gasolina,69596,renault,clio,17486,barcelona,manual,2022,professional,sedan,999,5,90
1306,white,diesel,36000,renault,clio,11750,madrid,manual,2017,professional,familiar,1461,5,90
1307,white,diesel,119565,renault,megane,15490,sevilla,manual,2019,professional,sedan,1461,5,95
1308,gray,diesel,122726,renault,megane,16490,cadiz,manual,2018,professional,familiar,1461,5,110

### Reset dataframe's index

In [72]:
# Reset dataframe index
dft.reset_index(drop=True, inplace=True)

### CLEANING SUMMING-UP

In [73]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color             1309 non-null   string
 1   fuelType          1309 non-null   string
 2   km                1309 non-null   Int64
 3   make              1309 non-null   string
 4   model             1309 non-null   string
 5   price             1309 non-null   Int64
 6   province          1309 non-null   string
 7   transmissionType  1309 non-null   string
 8   year              1309 non-null   Int64
 9   seller_type       1309 non-null   string
 10  bodyType          1309 non-null   string
 11  cubicCapacity     1309 non-null   Int64
 12  doors             1309 non-null   Int64
 13  hp                1309 non-null   Int64
dtypes: Int64(6), string(8)
memory usage: 151.0 KB

## Function that perform all cleaning process

In [137]:
def cleaningProcess(df_input:pd.DataFrame):

    # Dummy dataframe
    df_out = df.copy()
    # Dropping specified columns from dataframe
    columns_to_drop = [
        'url', 'datetime', 'fuelTypeId', 'id', 'makeId',
        'modelId', 'provinceId', 'title', 'transmissionTypeId',
        'brand', 'brand_id', 'model_id', 'fuel_types'
    ]
    df_out.drop(columns=columns_to_drop, inplace=True)
    # Process NA/NaN/NAN/null/Na values
    # First option: replace missing values by centrality statistic like 'mode' 
    """
    values = {
        'cubicCapacity':int(round(df_out['cubicCapacity'].mode()[0], 0)),
        'hp':int(round(df_out['hp'].mode()[0], 0)),
        'bodyType':str(df_out['bodyType'].mode()[0]),
    }
    """
    # Second option: replace missing values by 'null' strint to be able
    # to process them later.
    values = 'null'
    df_out.fillna(value=values, inplace=True)
    # Third option:
    # Drop rows that contains missing values
    # df_out.dropna(inplace=True)
    # Drop duplicated rows
    df_out.drop_duplicates(inplace=True)
    # Reset dataframe index
    df_out.reset_index(drop=True, inplace=True)
    # Trying to cast automatically every column to its best data type
    # (It's works from time to time)
    df_out = df_out.infer_objects()
    df_out = df_out.convert_dtypes()
    CATEGORICAL_FEATURES = [
        'color',
        'fuelType',
        'make',
        'model',
        'province',
        'transmissionType',
        'seller_type',
        'bodyType'
    ]
    NUMERIC_FEATURES = ['km', 'cubicCapacity', 'doors', 'hp']
    # Transforming each categorical value by applying "cleanString" function
    df_out.loc[:, CATEGORICAL_FEATURES] = \
        df_out[CATEGORICAL_FEATURES].applymap(lambda x: cleanString(str(x)))
    # Remove "commoncolor_" string in "color" feature
    # Remove "commontransmission_" string in "transmissionType" feature
    # Replace some english expressions found in "seller_type" feature
    # Remove "body_type_" sub-string from "bodyType" feature
    df_out = replaceString(df_out)  
    # Infer data types
    df_out = df_out.infer_objects()
    df_out = df_out.convert_dtypes()
    # Reset dataframe index
    df_out.reset_index(drop=True, inplace=True)

    return df_out, CATEGORICAL_FEATURES, NUMERIC_FEATURES

In [138]:
df_cleaned, CATEGORICAL_FEATURES, NUMERIC_FEATURES = cleaningProcess(df)

<ipython-input-137-b9f0f17b0dc5>:48: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_out.loc[:, CATEGORICAL_FEATURES] = \

In [139]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13343 entries, 0 to 13342
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color             13343 non-null  string
 1   fuelType          13343 non-null  string
 2   km                13343 non-null  object
 3   make              13343 non-null  string
 4   model             13343 non-null  string
 5   province          13343 non-null  string
 6   transmissionType  13343 non-null  string
 7   year              13343 non-null  object
 8   seller_type       13343 non-null  string
 9   bodyType          13343 non-null  string
 10  cubicCapacity     13343 non-null  object
 11  doors             13343 non-null  object
 12  hp                13343 non-null  object
 13  price             13343 non-null  object
dtypes: object(6), string(8)
memory usage: 1.4+ MB

In [140]:
df_cleaned.head()

,color,fuelType,km,make,model,province,transmissionType,year,seller_type,bodyType,cubicCapacity,doors,hp,price
0,white,gas_licuado_glp,48100,opel,corsa,barcelona,manual,2018,private,sedan,1398.0,5.0,90.0,15500
1,blue,gasolina,43990,opel,corsa,barcelona,manual,2021,profesional,sedan,1199.0,5.0,100.0,16600
2,beige,diesel,31000,opel,combo_life,las_palmas,manual,2021,private,minivan,1499.0,5.0,102.0,23500
3,gray,gasolina,57964,opel,crossland,ciudad_real,manual,2021,profesional,4x4,1199.0,5.0,110.0,18950
4,gray,gasolina,104000,opel,astra,sta_c_tenerife,manual,2018,profesional,sedan,1399.0,5.0,125.0,12790

In [141]:
df_cleaned.tail()

,color,fuelType,km,make,model,province,transmissionType,year,seller_type,bodyType,cubicCapacity,doors,hp,price
13338,gray,diesel,156000.0,audi,a7,asturias,automatic,2014.0,private,berlina,2967.0,5.0,204.0,25900.0
13339,gray,diesel,77864.0,audi,a3,madrid,manual,2017.0,profesional,berlina,1598.0,5.0,110.0,17890.0
13340,white,diesel,95000.0,audi,sq5,leon,automatic,2015.0,profesional,4x4_suv,2967.0,5.0,326.0,33500.0
13341,gray,gasolina,110000.0,audi,rs6,barcelona,automatic,2014.0,profesional,familiar,3993.0,5.0,560.0,59900.0
13342,blue,gasolina,95536.0,audi,a1,valencia,manual,2018.0,profesional,berlina,1395.0,3.0,125.0,18490.0

In [143]:
#@title Check columns distribution
input = "bodyType" #@param ["color", "fuelType", "make", "model", "province", "transmissionType", "seller_type", "bodyType"]
featureDistribution(df_cleaned, input)

Class: sedan, Count: 4662, Percentage: 34.94%
Class: minivan, Count: 1001, Percentage: 7.5%
Class: 4x4, Count: 3649, Percentage: 27.35%
Class: cabrio, Count: 128, Percentage: 0.96%
Class: familiar, Count: 749, Percentage: 5.61%
Class: null, Count: 2140, Percentage: 16.04%
Class: coupe, Count: 141, Percentage: 1.06%
Class: pick_up, Count: 27, Percentage: 0.2%
Class: berlina, Count: 484, Percentage: 3.63%
Class: 4x4_suv, Count: 362, Percentage: 2.71%

In [144]:
rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]
print(f'------------------------------------------------------')
print(f'Rows before: {rows_before}')
print(f'Rows after: {rows_after}')
print(f'Number of rows removed fron dataset: {rows_before - rows_after}')
print(f'------------------------------------------------------')

------------------------------------------------------
Rows before: 14977
Rows after: 13343
Number of rows removed fron dataset: 1634
------------------------------------------------------

# SAVE RESULT DATASET to FILE
---

In [145]:
from datetime import datetime
import pytz

tz = pytz.timezone("Europe/Madrid")
now = datetime.now(tz)
formatted_date = now.strftime("%d-%m-%Y-%H-%M")

PATH_BASE = '/content/'
PATH_FILENAME = 'cochesnet-full-cleaned-with-NaN-' + formatted_date + '.csv'
PATH_FULL = PATH_BASE + PATH_FILENAME

try:
    df_cleaned.to_csv(path_or_buf=PATH_FULL)
except NameError as NE:
    (print(f"ERROR!!: <{NE}>' in file: <{PATH}>"))
except FileNotFoundError as FNF:
    raise Exception("ERROR!! File not found: {FNF}")
except:
    raise Exception("Unknown error")
else:
    print(f"<{PATH_FULL}> saved successfully")
finally:
    print("Program finalized")

</content/cochesnet-full-cleaned-with-NaN-29-04-2023-17-09.csv> saved successfully
Program finalized